// Colors
$primary-background-color: #eeeeee;
$secondary-background-color: #dddddd;
$primary-color: #f5f5f5;
$secondary-color: #e0e0e0;
$hover-color: #dcdcdc;
$highlight-color: rgba(100, 100, 100, 0.3);
$button-hover-bg: rgba(190, 24, 255, 0.4);
$button-active-bg: rgba(255, 27, 198, 0.9);
$glow-color-1: rgba(190, 24, 255, 0.4);
$glow-color-2: rgba(255, 27, 198, 0.5);
$glow-color-3: rgba(0, 200, 255, 0.6);

// Dimensions
$border-radius: 20px;
$side-margin: 16px;
$button-width: 200px;
$button-padding: 10px 0;
$content-buttons-height: 60px;
$content-buttons-width: 160px;

// Animation Durations
$transition-duration: 0.3s;
$glow-animation-duration: 1.5s;
