@use "variables" as vars;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

html {
  body {
    margin: 0;
    padding: 0;
  }
}

.sidepanel-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(20deg, #1a1a1a, #1a1a1a);

  * {
    font-family: "Poppins", sans-serif;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;

    background-color: vars.$secondary-background-color;
    border: none;
  }
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 86%;
    background-color: vars.$secondary-background-color;

    .body-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 6%;
    background-color: vars.$secondary-background-color;
    border-top: 0.5px solid gray;

    .footer-animation {
      display: flex;
      overflow: auto;
      justify-content: center;
      width: 99%;
      max-height: 80%;
      font-size: 12px;
      margin-left: vars.$side-margin;
    }
    .footer-buttons {
      display: flex;
      margin: 0 vars.$side-margin;
      color: red;
    }
  }
}

//injected content styles
.content-buttons {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  z-index: 9999;
  margin: 0px !important;
  padding: 5px !important;
  bottom: 120px;
  right: -0px;
  height: 40px;
  width: 50px;
  background: rgb(210, 210, 210);
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: vars.$transition-duration ease,
    right vars.$transition-duration ease;

  &:hover {
    background: rgb(240, 240, 240);
  }

  .content-button-logo {
    display: flex;
    width: 30px;
    margin-left: 10px;
    transition: vars.$transition-duration ease,
      right vars.$transition-duration ease;
    cursor: pointer;

    &:hover {
    }
  }
}

@keyframes glow {
  from {
    box-shadow: 2px 0 10px vars.$glow-color-1, -4px 0 15px vars.$glow-color-2,
      -6px 0 20px vars.$glow-color-3;
  }
  to {
    box-shadow: -4px 0 10px vars.$glow-color-1, -6px 0 15px vars.$glow-color-2,
      -8px 0 20px vars.$glow-color-3;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
