.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 97%;
  height: 97%;
  background: linear-gradient(20deg, #0F1C2E, #1F3A5F);

  border: none;
  border-radius: 1rem;
  font-family: Arial, sans-serif;
  overflow: auto;

  .content-box-title {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    color: #333;
  }

  .temporary-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;

    .temporary-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .temporary-dev-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 90%;
      min-width: 250px;
      color: #fff;
      border-bottom: 0.5px solid lightblue;
    }
    .temporary-text {
      display: flex;
      flex-direction: column;
    }
  }
}
