.history-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  width: 95%;
  max-width: 600px;
  max-height: 45%;
  padding: 8px;
  margin: 8px;
  overflow: auto;
  border: 1px solid #dfdfdf;

  .history-box-title {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    color: #333;
  }

  .history-item-container {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;

    margin-bottom: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 80%;

    &:hover {
      transform: translateY(-2px);
    }

    .history-item-cred {
      display: flex;
      flex-direction: column;
      padding-top: 12px;
      .item-title {
        text-align: center;
        font-weight: bold;
        color: #007acc;
        font-size: 1.1em;
        margin-bottom: 8px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #005fa3;
        }
      }

      .item-url {
        font-size: 0.9em;
        color: #555;
        text-align: center;
        margin-bottom: 12px;
        word-break: break-all;
      }
    }

    .details {
      background-color: #f9f9f9;
      border: 1px solid #e0e0e0;
      border-radius: 6px;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      font-size: 0.9em;
      color: #666;

      .detail-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        strong {
          font-weight: bold;
          color: #333;
        }
      }
    }
  }
}
